


<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><%=news[0]["title"][0]%></li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><%=news[1]["content"][0]%></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><%=news[2]["title"][0]%></li>
 
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"><%=news[1]["content"][0]%></li>
        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2"><%=news[4]["content"][0]%></li>
 
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"><%=news[1]["title"][0]%></li>
        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"><%=news[0]["content"][0]%></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"><%=news[1]["title"][0]%></li>
 
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"><%=news[3]["content"][0]%></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"><%=news[1]["content"][0]%></li>
 
        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"><%=news[2]["title"][0]%></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"><%=news[5]["content"][0]%></li>
    </ul>
</div>